
/*reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
}
html {
  font-size: 12.5px;
}
/*fonts on*/


@font-face {
  font-family: 'OpenSans-bold';

  src: url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'OpenSans-regular';

  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2');
}
/*header style*/

header.header {
  width: 100%;
  background: linear-gradient(rgba(18, 17, 52, .9), rgba(18, 17, 52, .9)), url(../images/football_767.jpg) 50% 10% no-repeat;
  background-size: cover, 140%;
}
.wrapper__logo {
  display: flex;
  width: 100%;
  margin-bottom: 30%;
}
.first_page_logo_svg {
  width: 42%;
  max-width: 201px;
  height: 95px;
  margin: 0 auto;
  fill: #fff;
}
.wrapper__describe {
  display: flex;
  width: 87.6%;
  max-width: 310px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 26%;
  flex-wrap: wrap;
}
.header__main_title {
  font: bold 2.24rem 'OpenSans-bold', 'Arial', monospace;
  font-stretch: ultra-expanded;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
}
.in_letter_m_logo {
  display: block;
  margin-top: 4.5%;
  margin-left: 15.5%;
  line-height: 125%;
}
.button_common {
  display: flex;
  width: 87.5%;
  max-width: 300px;
  height: 35px;
  margin: 10px auto 15px;
  border: none;
  border-radius: 60px;
  background-color: #5e42b0;
  justify-content: center;
  align-items: center;
}
.bt_signature {
  width: 30%;
  font: .64rem 'OpenSans-regular', 'Arial', monospace;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}
.in_button_span_head {
  display: block;
  font: .64rem 'OpenSans-bold', 'Arial', monospace;
  font-weight: bold;
}
.image_button_svg {
  width: 8%;
  margin-right: 8px;
  fill: #ffffff;
}
.block__empty_header {
  width: 100%;
  height: 70px;
}

/*athlets block*/

.title__athlets {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 5px;
  font: bold 4rem 'OpenSans-bold', 'Arial', monospace;
  font-stretch: ultra-expanded;
  text-transform: uppercase;
  color: #e7e7e7;
}
.picture_athlets {
  display: block;
  margin: 0 auto;
}
img, source {
  max-width: 100%;
}
.common__block {
  width: 100%;
  padding-right: 6.25%;
  padding-left: 6.25%;
}
.common__block_text {
  padding-top: 18px;
  font: 1.2rem 'OpenSans-light', 'Arial', monospace;
  line-height: 118%;
  letter-spacing: 1px;
}
.block__connection {
  margin-top: -60px;
  padding-top: 24%;
  padding-bottom: 16%;
  background-color: #fafafa;
}
.block__collaboration {
  padding-top: 15%;
  padding-bottom: 18%;
  background-color: #f5f4f9;
}
.block__growth {
  padding-top: 15%;
  padding-bottom: 18%;
  background-color: #5e42b0;
}
.block__growth_text {
  letter-spacing: 1.5px;
}
/*number with the bottom line*/
.number {
  position: relative;
  padding-top: 5px;
}
.subtitle_name {
  display: inline;
  margin-left: 25px;
  font: bold 1.84rem 'OpenSans-bold', 'Arial', monospace;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #c1c1c1;
}
.number span {
  position: absolute;
  top: 10px;
  font: bold 1.12rem 'OpenSans-bold', 'Arial', monospace;
  letter-spacing: 1px;
}
.number span::after {
  position: absolute;
  top: 19px;
  left: 0;
  width: 15px;
  height: 3px;
  content: '';
  border-radius: 1px;
  background-color: #5e42b0;
}
.block__growth_text {
  color: #ffffff;
}
.number__growth span::after {
  background-color: #ffffff;
}
.number__growth_pl > span {
  color: #5e42b0;
}


/* players block*/
.title__players {
  width: 90%;
  margin: 0 auto;
  padding-top: 8px;
  font: 4rem 'OpenSans-bold', 'Arial', monospace;
  font-stretch: ultra-expanded;
  text-transform: uppercase;
  color: #e7e7e7;
}
.picture_players {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
}
.block__connection_pl {
  margin-top: -30px;
  padding-top: 22.5%;
  padding-bottom: 16%;
  background-color: #fafafa;
}
.block__collaboration_pl {
  padding-top: 16%;
  padding-bottom: 12%;
  background-color: #f5f6f7;
}
.growth_pl {
  padding-bottom: 11%;
  background-color: #090c35;
}
.block__growth_pl_text {
  color: #fff;
}

/***************  be active  /////  find contact /////  block work it  *****************/
.wrapper__absolute {
  position: relative;
}
.number__absolute_block {
  position: absolute;
  bottom: -2%;
  left: 6%;
  display: flex;
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: #5e42b0;

  justify-content: center;
}

.number__absolute_block > span {
  display: block;
  width: 14px;
  margin: auto;
  font: bold 1.12rem 'OpenSans-bold', 'Arial', monospace;
  color: #fff;
}
.number__absolute_block > span::after {
  position: absolute;
  left: 40.5%;
  width: 14px;
  height: 3px;
  content: '';
  border-radius: 1px;
  background-color: #8f7bc8;
}

.be_active__image {
  max-width: 100%;
}
.content__block {
  width: 90%;
  margin: 0 auto;
}
.subtitle_content_block {
  width: 100%;
  padding-top: 7%;
  font: bold 2.24rem 'OpenSans-bold', 'Arial', monospace;
  font-stretch: ultra-expanded;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #e7e7e7;
}
.text__content_block {
  margin-top: 6%;
  margin-bottom: 27%;
  font: 1.18rem 'OpenSans-light', 'Arial', monospace;
  line-height: 19px;
}
/************************** footer block *****************************/


footer.footer {
  padding-top: 29%;
  background: linear-gradient(rgba(18, 17, 52, .9), rgba(18, 17, 52, .9)), url(../images/game_767.jpg) 50% 10% no-repeat;
  background-size: cover, 140%;
}
.footer_subtitle__head {
  margin: 0 auto;
  font: bold 2.56rem 'OpenSans-bold', 'Arial', monospace;
  font-stretch: ultra-expanded;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
}
.footer_subtitle__text {
  margin-bottom: 80px;
  font: 1.12rem 'OpenSans-light', 'Arial', monospace;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #9b8ec1;
}
.footer__logo {
  display: flex;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-bottom: 45px;
  -webkit-border-radius: 20%;
          border-radius: 20%;
  background-color: #6b4cc5;
}
.footer__logo_end {
  margin-top: 25%;
}
.logo__footer_svg {
  width: 64%;
  height: 64%;
  margin: auto;
  fill: #fff;
}
.footer__logo_end_svg {
  display: block;
  width: 42%;
  max-width: 265px;
  margin: auto;
  padding-bottom: 5%;
  fill: #fff;
}

/***********************media requires************************************/

@media (min-width: 641px) {
  html {
    font-size: 20px;
  }
  /* header block style */
  header.header {
    width: 100%;
    background: linear-gradient(rgba(18, 17, 52, .9), rgba(18, 17, 52, .9)), url(../images/football_1280.jpg) 50% 10% no-repeat;
    background-size: cover, 170%;
  }
  .wrapper__logo {
    margin-bottom: 18.8%;
  }
  .in_letter_m_logo {
    margin-top: 0;
  }
  .wrapper__describe {
    width: 100%;
    max-width: 960px;
    margin-top: 16%;
    margin-bottom: 37.5%;
    padding-top: 0;
  }
  .header__main_title {
    margin-left: 10%;
    font: bold 3.2rem 'OpenSans-bold', 'Arial', monospace;
    letter-spacing: 3px;
  }
  .wrapper_download_button {
    display: flex;
    width: 92%;
    max-width: 760px;
    margin: 0 auto;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }
  .button_common {
    max-width: 310px;
    height: 70px;
    justify-content: flex-start;
  }
  .in_button_span_head {
    font: .7rem 'OpenSans-bold', 'Arial', monospace;
  }
  .image_button_svg {
    width: 15%;
    margin-right: 8%;
    margin-left: 12%;
  }
  .button_common-right > svg {
    margin-right: 8%;
    margin-left: 17%;
  }
  .bt_signature {
    width: 60%;
    letter-spacing: 1px;
  }
  .block__empty_header {
    height: 80px;
  }
  /* athlet block style */
  section.athlets {
    position: relative;
  }
  .title__athlets {
    width: 50%;
    height: 80px;
    margin: 0;
    margin-top: 6%;
    margin-bottom: 3%;
    padding-left: 38%;
  }
  .picture_athlets {
    position: absolute;
    top: 7%;
    left: -8.5em;
    margin: 0;
  }
  .common__block {
    width: 100%;
    padding-right: 0;
    padding-left: 38%;
  }
  .common__block_text {
    padding-top: 5%;
    font: .8rem 'OpenSans-light', 'Arial', monospace;
    line-height: 25px;
  }
  .block__connection {
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #ffffff;
  }

  /*number with the bottom line*/
  .number {
    position: relative;
    width: 70%;
    padding-top: 5px;
  }
  .number h3 {
    font-size: 1.6rem;
    letter-spacing: 2px;
  }
  .number span {
    position: absolute;
    top: 12px;
    font-size: .9rem;
  }
  .number span::after {
    top: 22px;
    width: 21px;
    height: 4px;
  }

  /*subttile block style*/
  .subtitle_name {
    display: inline;
    margin-left: 25px;
  }
  .block__collaboration {
    padding-top: 3%;
    padding-bottom: 5%;
  }
  .block__growth {
    padding-top: 3%;
    padding-bottom: 5%;
  }
  /*players block style*/

  section.players {
    position: relative;
    overflow: hidden;
  }
  .title__players {
    width: 50%;
    margin: 0;
    margin-top: 7%;
    padding-left: 3%;
  }
  .block__connection_pl {
    width: 60%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 3%;
    background-color: #ffffff;
  }
  .growth_pl {
    padding-bottom: 5%;
    padding-left: 3%;
  }
  .growth_pl p {
    padding-top: 3%;
  }
  .picture_players {
    position: absolute;
    top: -3%;
    right: -.4em;
    margin: 0;
  }
  .block__collaboration_pl {
    padding-top: 3%;
    padding-right: 40%;
    padding-bottom: 5%;
    padding-left: 3%;
    background-color: #f5f4f9;
  }

  /*be active block*/

  .wrapper__absolute {
    max-width: 103%;
  }

  .number__absolute_block {
    bottom: -6%;
    left: 3.3%;
    width: 114px;
    height: 114px;
  }
  .number__absolute_block > span {
    display: block;
    width: 25px;
    font: bold 1.2rem 'OpenSans-bold', 'Arial', monospace;
  }
  .number__absolute_block > span::after {
    width: 24px;
  }
  .content__block {
    width: 95%;
    margin: 0 auto;
  }
  .subtitle_content_block {
    font: bold 4rem 'OpenSans-bold', 'Arial', monospace;
    letter-spacing: 0;
  }
  .text__content_block {
    margin-top: 2%;
    margin-bottom: 12%;
    font: 1.2rem 'OpenSans-bold', 'Arial', monospace;
    line-height: 30px;
  }
  /*footer block*/
  footer.footer {
    padding-top: 19.5%;
    background: linear-gradient(rgba(18, 17, 52, .9), rgba(18, 17, 52, .9)), url(../images/game_1280.jpg) 50% 10% no-repeat;
    background-size: cover, 240%;
  }
  .footer_subtitle__head {
    margin: 0 auto;
    font: bold 4rem 'OpenSans-bold', 'Arial', monospace;
    letter-spacing: 4px;
  }
  .footer_subtitle__text {
    margin-bottom: 36.5%;
    font: 1.8rem 'OpenSans-light', 'Arial', monospace;
    letter-spacing: 0;
  }
  .footer__logo {
    width: 135px;
    height: 135px;
    margin-bottom: 55px;
  }
  .subtitle__find_contact {
    padding-top: 10%;
  }
  .footer__logo_end_svg {
    width: 27%;
    margin-top: -30px;
  }
  .footer__logo svg {
    fill: #fff;
  }
  .footer__logo_end {
    margin-top: 3.7em;
  }
}

/***********************************responsive 961 to ... px************************************************************************/

@media (min-width: 961px) {
  html {
    font-size: 22.5px;
  }
  body {
    max-width: 1920px;
    margin: 0 auto;
  }

  /* header block style */
  header.header {
    width: 100%;
    background: linear-gradient(rgba(18, 17, 52, .9), rgba(18, 17, 52, .9)), url(../images/football_1920.jpg) 50% 10% no-repeat;
    background-size: cover, 160%;
  }
  .wrapper__logo {
  	margin-bottom: 0%;
  }
  .wrapper__describe {
    width: 90%;
    max-width: 1920px;
    margin-top: 13%;
    margin-bottom: 8.8%;
  }
  .in_letter_m_logo {
  	margin-left: 27.5%;
  }
  .wrapper_download_button {
    max-width: 730px;
    padding-top: 0;
  }
  .block__empty_header {
  	height: 4.5em;
  }
  .bt_signature > span {
    font-size: .622222rem;
  }
  /* athlet block style */


  section.athlets {
    position: relative;
  }
  .title__athlets {
    margin-top: 4%;
    margin-bottom: 2%;
    padding-left: 52.5%;
    font-size: 3.5555555555rem;
  }
  .common__block {
    width: 100%;
    padding-left: 52.3%;
  }
  .common__block_text {
    padding-top: 1.5%;
    font-size: .8888888888888rem;
    line-height: 25px;
    letter-spacing: 2.5px;
  }
  .picture_athlets {
    top: -5%;
  }
  .block__connection {
    margin-top: 0;
    padding-top: 3.9%;
    padding-bottom: 3%;
    background-color: #ffffff;
  }

  /*number with the bottom line*/
  .number {
    position: relative;
    width: 70%;
    padding-top: 5px;
  }
  .number h3 {
    font-size: 1.6rem;
    letter-spacing: 2px;
  }
  .number span {
    position: absolute;
    top: 15px;
    font-size: .8rem;
  }
  .number span::after {
    top: 22px;
    width: 21px;
    height: 4px;
  }

  /*subttile block style*/
  .subtitle_name {
    margin-left: 28px;
  }
  .block__collaboration {
    padding-top: 2%;
    padding-bottom: 3.5%;
  }
  .block__growth {
    padding-top: 2.2%;
    padding-bottom: 3%;
  }
  /*players block style*/

  .title__players {
    width: 50%;
    margin-top: 4%;
    padding-left: 9%;
    font-size: 3.5555555555rem;
  }
  .picture_players {
  	right: -450px;
  }
  .block__connection_pl {
    padding-top: 4%;
    padding-right: 50%;
    padding-bottom: 2%;
    padding-left: 9.5%;
  }
  .block__connection_pl_text {
    padding-top: 3%;
  }
  .block__collaboration_pl {
    padding-top: 3%;
    padding-right: 50%;
    padding-bottom: 3%;
    padding-left: 9.5%;
  }
  .block__collaboration_pl_text {
    padding-top: 3%;
  }
  .growth_pl {
    padding-top: 2.5%;
    padding-right: 50%;
    padding-bottom: 2.5%;
    padding-left: 9.5%;
  }
  .growth_pl p {
    padding-top: 1%;
  }

  /*be active block*/
  .block__be_active {
    position: relative;
    display: flex;  
  }
  .wrapper__absolute {
    position: static;
    overflow: hidden;
    max-width: 50%;
    padding-right: 2em;
  }
  .number__absolute_block {
    bottom: calc(60% - 60px);
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
  }
  .subtitle__be_active {
  	font-size: 2rem;
  }
  .be_active__image {
    display: block;
    width: 114%;
    max-width: 120%;
  }
  .number__absolute_block > span {
    display: block;
    width: 25px;
    font-size: 1.066666666666666rem;
  }
  .number__absolute_block > span::after {
    width: 27px;
    height: 5px;
  }
  .block__find_contact {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
  }
  .find_contact_image {
    position: static;
    overflow: hidden;
    width: 50%;
  }
  .work_it_contact {
    position: relative;
    display: flex;
  }
  .work_it_image {
    position: static;
    overflow: hidden;
    width: 100%;
  }
  .content__block {
    width: 50%;
  }
  .subtitle_content_block {
    width: 90%;
    padding-top: 15%;
    padding-left: 13%;
    font-size: 2.5rem;
    letter-spacing: 0;
  }
  .number_work_it {
    position: absolute;
  }
  .text__content_block {
    width: 90%;
    padding-top: 10%;
    margin-bottom: 0;
    padding-left: 13%;
    font: 1rem 'OpenSans-light', 'Arial', monospace;
    line-height: 30px;
  }
  .text__find_contact {
  	padding-top: 3%;
    padding-left: 13%;
  }
  .subtitle__find_contact {
  	padding-top: 15%;
    padding-left: 13%;
  }
  .subtitle__work_it {
  	padding-top: 15%;
  }
  .text__work_it {
  	margin-top: 0;
  	padding-top: 8%;
  }

  /*footer block*/
  footer.footer {
    padding-top: 12.8%;
    background: linear-gradient(rgba(18, 17, 52, .9), rgba(18, 17, 52, .9)), url(../images/game_1920.jpg) 50% 10% no-repeat;
    background-size: cover, 240%;
  }
  .wrapper__absolute {
    font-size: 0;
  }
  .footer__wrapper_logo {
    display: flex;
    width: 690px;
    margin: 0 auto;
    margin-bottom: 6.3em;
    padding-left: .56em;
    flex-wrap: wrap;
  }

  .wrapper_footer_subtitle {
    display: flex;
    flex-direction: column;
    margin-left: 34px;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    align-items: flex-start;
  }
  .footer_subtitle__head {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: -5px;
    font-size: 2.7rem;
    letter-spacing: 4px;
  }
  .footer_subtitle__text {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    letter-spacing: 0;
  }
  .footer__logo {
    width: 90px;
    height: 90px;
    margin: 0;
  }
  .footer__logo_end {
    margin-top: 12.5%;
    padding-bottom: 2em;
  }
  .footer__logo_end_svg {
  	width: 17%;
    padding: 0;
    margin-top: 0;
  }
}
@media (min-width: 1180px) {
	header.header {
    width: 100%;
    background: linear-gradient(rgba(18, 17, 52, .9), rgba(18, 17, 52, .9)), url(../images/football_1920.jpg) 50% 10% no-repeat;
    background-size: cover, 140%;
  }
}
@media (min-width: 1500px) {
	.header__main_title {
  	width: 100%;
  	margin-left: 4.8%;
    font-size: 4rem;
    letter-spacing: 4px;
  }
	.picture_athlets {
    position: absolute;
    top: -5%;
    left: 20%;
  }
  .picture_players {
    top: -6%;
    right: 6.4%;
  }
  .number__absolute_block {
    bottom: calc(60% - 77.5px);
    left: calc(50% - 77.5px);
    width: 155px;
    height: 155px;
  }
  .subtitle_content_block {
    width: 90%;
    padding-top: 22%;
    padding-left: 13%;
    font-size: 3.5555555rem;
    letter-spacing: 0;
  }
  .number_work_it {
    position: absolute;
  }
  .text__content_block {
    width: 90%;
    padding-top: 10%;
    margin-bottom: 0;
    padding-left: 13%;
    font: 1.2rem 'OpenSans-light', 'Arial', monospace;
    line-height: 30px;
  }
  .subtitle__find_contact {
  	padding-top: 24.5%;
    padding-left: 19%;
  }
  .text__find_contact {
  	padding-top: 3%;
    padding-left: 19%;
  }
  .subtitle__work_it {
  	padding-top: 26%;
  }
  .text__work_it {
  	margin-top: 0;
  	padding-top: 8%;
  }
  .footer__wrapper_logo {
    width: 900px;
  }
  .footer_subtitle__head {
    font-size: 3.5555555rem;
  }
  .footer_subtitle__text {
    font-size: 1.3333333rem;
  }
  .footer__logo {
    width: 135px;
    height: 135px;
    margin: 0;
  }
}