
/*reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
}
html {
  font-size: 16px;
}
/*fonts on*/


@font-face {
  font-family: 'OpenSans-bold';

  src: url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'OpenSans-regular';

  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2');
}
/*header style*/

.header {
  width: 100%;
  background: url('../images/football_767.jpg') 50% 10%;
  -webkit-background-size: 140%;
       -o-background-size: 140%;
          background-size: 140%;
}
.opacity_bg {
  height: inherit;
  background: rgba(18, 17, 52, .9);
}
.wrapper__logo {
  display: flex;
  width: 100%;
  height: 100px;
}
.wrapper__logo > svg {
  width: 42%;
  max-width: 201px;
  margin: auto;
  fill: #ffffff;
}
.wrapper__describe {
  display: flex;
  width: 87.6%;
  max-width: 310px;
  height: 285px;
  margin: 0 auto;
  padding-top: 30px;
  letter-spacing: 1.7px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.wrapper__describe h1, h2 {
  font: bold 1.7rem 'OpenSans-bold', 'Arial', monospace;
  font-stretch: ultra-expanded;
  text-transform: uppercase;
  color: #ffffff;
}
.wrapper__describe h2 {
  width: 78%;
  margin-top: 15px;
  margin-left: 16%;
}
button.button_common {
  display: flex;
  width: 87.5%;
  max-width: 300px;
  height: 22%;
  margin: 10px auto 15px;
  border: none;
  border-radius: 60px;
  background-color: #5e42b0;
  justify-content: center;
  align-items: center;
}
.button_common .bt_signature {
  width: 30%;
  font: 0.5rem 'OpenSans-regular', 'Arial', monospace;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}
.button_common .bt_signature > span {
  font: 0.5rem 'OpenSans-bold', 'Arial', monospace;
  font-weight: bold;
}
.button_common svg {
  width: 8%;

  margin-right: 8px;
  fill: #ffffff;
}
.wrapper_download_button {
  height: 170px;
  padding: 0;
}
/* athlets block*/

section.athlets > h3 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 5px;
  font: bold 3.0rem 'OpenSans-bold', 'Arial', monospace;
  font-stretch: ultra-expanded;
  text-transform: uppercase;
  color: #e7e7e7;
}
.picture_block img, source {
  display: block;
  margin: 0 auto;
}
picture source, img {
  max-width: 100%;
}
.common__block {
  width: 100%;
  padding-top: 80px;
  padding-right: 6.25%;
  padding-left: 6.25%;
}
.common__block > p {
  padding-top: 18px;
  font: 1rem 'OpenSans-light', 'Arial', monospace;
}
.block__connection {
  margin-top: -60px;
  padding-top: 75px;
  padding-bottom: 21%;
  background-color: #fafafa;
}

/*number with the bottom line*/
div.number {
  position: relative;
  padding-top: 5px;
}
.number span {
  position: absolute;
  top: 10px;
  font: bold .8rem 'OpenSans-bold', 'Arial', monospace;
  letter-spacing: 1px;
}
.number span::after {
  position: absolute;
  top: 19px;
  left: 0;
  width: 15px;
  height: 3px;
  content: '';
  border-radius: 1px;
  background-color: #5e42b0;
}

/*subttile block style*/
.subtitle_name {
  display: inline;
  margin-left: 25px;
  font: bold 1.5rem 'OpenSans-bold', 'Arial', monospace;
  text-transform: uppercase;
  color: #c1c1c1;
}
.block__collaboration {
  padding-top: 10%;
  padding-bottom: 22%;
  background-color: #f5f4f9;
}
.block__growth {
  padding-top: 15%;
  padding-bottom: 21%;
  background-color: #5e42b0;
}
.block__growth > p {
  color: #fff;
}
.number__growth span::after {
  background-color: #ffffff;
}

/* players block*/
section.players > h3 {
  width: 90%;
  margin: 0 auto;
  padding-top: 8px;
  font: bold 3.0rem 'OpenSans-bold', 'Arial', monospace;
  font-stretch: ultra-expanded;
  text-transform: uppercase;
  color: #e7e7e7;
}
.block__connection_pl {
  margin-top: -30px;
  padding-top: 75px;
  padding-bottom: 16%;
  background-color: #fafafa;
}
.growth_pl {
  padding-bottom: 10%;
  background-color: #090c35;
}
.number__growth_pl > span {
  color: #5e42b0;
}
section.players img {
  padding-top: 8px;
}
.block__collaboration_pl {
  padding-top: 15%;
  padding-bottom: 17%;
}
/*be active*/ /*find contact block*/ /*work it*/
.wrapper__absolute {
  position: relative;
}
.number__absolute_block {
  position: absolute;
  bottom: -2%;
  left: 6%;
  display: flex;
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: #5e42b0;

  justify-content: center;
}
.number__absolute_block > span {
  display: block;
  width: 14px;
  margin: auto;
  font: bold .8rem 'OpenSans-bold', 'Arial', monospace;
  color: #ffffff;
}
.number__absolute_block > span::after {
  position: absolute;
  left: 40.5%;
  width: 14px;
  height: 3px;
  content: '';
  border-radius: 1px;
  background-color: #8f7bc8;
}
.wrapper__absolute > img {
  max-width: 100%;
}
.content__block {
  width: 90%;
  margin: 0 auto;
}
.content__block > h4 {
  width: 100%;
  padding-top: 6%;
  font: bold 1.8rem 'OpenSans-bold', 'Arial', monospace;
  font-stretch: ultra-expanded;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #e7e7e7;
}
.content__block > p {
  padding-top: 6%;
  padding-bottom: 27%;
  font: 1rem 'OpenSans-light', 'Arial', monospace;
  line-height: 19px;
}
/*footer block*/
footer.footer {
  background-image: url('../images/game_767.jpg');
}

.opacity_bg__footer {
  padding-top: 95px;
}
.opacity_bg > h5 {
  margin: 0 auto;
  font: bold 2.15rem 'OpenSans-bold', 'Arial', monospace;
  font-stretch: ultra-expanded;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.opacity_bg > p {
  padding-bottom: 60px;
  font: .935rem 'OpenSans-light', 'Arial', monospace;
  text-align: center;
  text-transform: uppercase;
  color: #9b8ec1;
}
.footer__logo {
  display: flex;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-bottom: 45px;
  -webkit-border-radius: 20%;
          border-radius: 20%;
  background-color: #6b4cc5;
}
.footer__logo > svg {
  width: 64%;
  height: 64%;
  margin: auto;
  fill: #fffffff;
}
.footer__logo_end > svg {
  display: block;
  width: 42%;
  max-width: 265px;
  margin: auto;
  padding-bottom: 5%;
  fill: #ffffff;
}
/***********************media require************************************/

@media (min-width: 641px) and (max-width: 960px) {
	html {
		font-size: 20px;
	}
	/* header block style */
	.header {
		background-image: url("../images/football_1280.jpg"); /*определить размеры бэкграунда*/
		-webkit-background-size: 170%;
      -o-background-size: 170%;
    background-size: 170%;
	}
	.wrapper__describe {
    width: 100%;
    max-width: 960px;
    height: contain;
    padding-top: 0;
    margin-top: 15.5%;
    margin-bottom: 35.5%;
  }
  .wrapper__describe h1, h2 {
    font: bold 310% 'OpenSans-bold', 'Arial', monospace;
    letter-spacing: 4px;
  }
  .wrapper__describe h1 {
  	padding-left: 10%;
  }
  .wrapper__describe h2 {
  	margin-top: 0;
  	margin-left: 25%;
  	line-height: 125%;
  }
  .wrapper_download_button {
    display: flex;
    width: 92%;
    max-width: 760px;
    margin: 0 auto;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }
  button.button_common {
  	max-width: 310px;
  	height: 43%;
  	justify-content: flex-start;
  }
  .button_common .bt_signature {
  	font: 0.7rem 'OpenSans-light', 'Arial', monospace;
  }
  .button_common .bt_signature > span {
  	font-size: inherit;
  }
  .button_common svg {
    width: 15%;
    margin-left: 12%;
    margin-right: 8%;
  }
  .button_common-right svg {
  	margin-left: 17%;
    margin-right: 8%;
  }
  .button_common .bt_signature {
    width: 60%;
  }
	/* athlet block style */
	section.athlets {
		position: relative;
	}
	section.athlets > h3 {
    width: 50%;
    height: 80px;
    margin: 0;
    margin-top: 10%;
    padding-left: 38%;
  }
  section.athlets .picture_block img, source {
  	position: absolute;
  	top: 3%;
  	left: -22.5%;
    margin: 0;
  }  
  .common__block {
    width: 100%;
    padding-right: 0%;
    padding-left: 38%;
}
  .common__block > p {
    padding-top: 18px;
  }
  .block__connection {
    margin-top: 0;
  	padding-top: 5%;
    padding-bottom: 5%;
    background-color: #ffffff;
  }

  /*number with the bottom line*/
  div.number {
    position: relative;
    width: 70%;
    padding-top: 5px;
  }
  .number span {
    position: absolute;
    top: 12px;
    }
  .number span::after {
  	top: 22px;
    width: 19px;
    height: 4px;
  }

  /*subttile block style*/
  .subtitle_name {
  display: inline;
  margin-left: 25px;
  } 
  .block__collaboration, .block__growth {
  padding-top: 4%;
  padding-bottom: 6%;
  }
  .block__growth {
  	padding-bottom: 2%;
  }
}
/*players block style*/

section.players {
	position: relative;
}
section.players > h3 {
  width: 50%;
  padding-top: 8px;
}
.block__connection_pl {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #ffffff;
}
.growth_pl {
  padding-bottom: 10%;
  background-color: #090c35;
}
.number__growth_pl > span {
  color: #5e42b0;
}
section.players picture {
  position: absolute;
  top: 3%;
  right: 0%;
  margin: 0;
  
}
.block__collaboration_pl {
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 40%;
  padding-bottom: 5%;
}

